.vscode/**
.vscode-test/**
sim/**
build/**
node_modules/**
src/**
media/**
.gitignore

tsconfig.json

!sim-core/**

# emsdk cahce is generated during packaging and is huge, don't include it
emsdk-cache/**

.github
.gitmodules
build-core.sh